@import 'nav.css';
@import 'footer.css';

h1{
    margin-bottom: 5px;
    text-align: center;
}
.add-items-text{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.file-input{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form-content{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.submit{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.submit-btn{
    height: 35px;
    width: 200px;
}
.image-slider{
    margin-top: 30px;
    width: 500px;
    height: 500px;
    min-width: 415px;
    position: relative;
    background-size: cover;
    z-index: 20;
}
#picture1,#picture2,#picture3,#picture4{
    margin-bottom: 5px;
}
.product-images{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}
.product-images img.active{
    opacity: 0.5;
}

@media(max-width: 550px){
    .form-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .image-slider{
        
       
        width: 300px;
        height: 375px;
        min-width: 0;
        margin-right: 0;
        position: relative;
        background-size: cover;
        z-index: 20;
    }
    
    .product-images{    
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: #fff;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 40px;
        grid-gap: 5px;
        padding: 5px;
    }
    
    .product-images img{
        width: 100%;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .product-images img.active{
        opacity: 0.5;
    }
    .file-input{
        margin-top: 0;
        
    }
}