.alert-box{
    height: 50px;
    width: 300px;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    z-index: 40;
}

.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 50%;
}



.alert-msg{
    
    color: #e24c4b;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    line-height: 15px;
    font-weight: 500;
} 
footer{
    margin-top: auto;
}

.footer-content{
    position: relative;
  width: 100%;
  height: 40px;
 
  background-color: #d3d3d3;  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  
}

.footer-title{
    margin: 0;
    text-align: center;
    color: black;
}

.contact_email{
    text-decoration: none;
    position: absolute;
    left: 40%;
    color: black;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent; /* rgba(0, 0, 0, 0.5);  semi-transparent background */
    z-index: 29; /* Ensure loader is on top but nav still useable*/
  }
  
  .loader {
    display: flex;
    justify-content: center;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid purple; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
   animation: spin 1s linear infinite; /* Animation function */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  