@import 'nav.css';
@import 'footer.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
       
}  





.product-card{
    flex: 0 0 auto;
    width: 400px;
    height: 600px;
    margin-right: 40px;
}

.product-image{
    width: 100%;
    height: 500px;
    overflow: hidden;

    

    
}

.product-thumb{
    width: 400px;
    height: 500px;
    object-fit: contain;
    object-position: top;
    
}



.product-card:hover{
    opacity: 1;
}



.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}





 
