input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
body{
    margin: 0;
}
.navbar{
    
    position: sticky;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom:  15px;
    background: #eec0c8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    }

    .logo img{
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
    }
    
    
    
    .links-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .navbar li{
        list-style: none;
        padding: 0 20px;
    }
    
    .navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: black;
        
    }
    
    .navbar li a:hover{
        color: deeppink;
        transition: 0.3s ease;
    }
    .navbar .logo {
        width: 30px;
        height: 30px;
        color: blue;
        padding: 15px;
    }   