@import 'nav.css';
body{
    background-color:cornsilk;
}
.product-details{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.image-slider{
    
    width: 500px;
    height: 500px;
    min-width: 415px;
    margin-right: 100px;
    position: relative;
    background-size: cover;
    z-index: 20;
}

.product-images{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active{
    opacity: 0.5;
}

.details{
    
    min-width: 400px;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price{
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
}

.size-radio-btn.check{
    background: #383838;
    color: #fff;
}

.cart-btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}


.detail-des{
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading{
    font-size: 30px;
    margin-bottom: 30px;
}

.des{
    color: #383838;
    line-height: 25px;
}


@media (max-width: 550px){
    .product-details{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5px;
        justify-content: center;
        
    }
    .img-box{
        display: flex;
        justify-content: center;
    }
    .image-slider{
        
       
        width: 300px;
        height: 375px;
        min-width: 0;
        margin-right: 0;
        position: relative;
        background-size: cover;
        z-index: 20;
    }
    
    .product-images{    
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: #fff;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 40px;
        grid-gap: 5px;
        padding: 5px;
    }
    
    .product-images img{
        width: 100%;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .product-images img.active{
        opacity: 0.5;
    }
    
    .details{
        
        min-width: 0;
    }
    
    .details .product-brand{
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        margin: 0;
    }
    
    .details .product-short-des{
        font-size: 25px;
        line-height: 30px;
        height: auto;
        margin: 5px 0 5px;
        text-align: center;
    }
    
    .product-price{
        font-weight: 700;
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    .product-actual-price{
        font-size: 30px;
        opacity: 0.5;
        text-decoration: line-through;
        margin: 0 20px;
        font-weight: 300;
        text-align: center;
    }
    
    .product-discount{
        color: #ff7d7d;
        font-size: 20px;
    }
    
    .product-sub-heading{
        font-size: 30px;
        text-transform: uppercase;
        margin: 60px 0 10px;
        font-weight: 300;
    }
    .btns{
        display: flex;
        justify-content: center;
    }
    .size-radio-btn{
        display: inline-block;
        width: 80px;
        height: 80px;
        text-align: center;
        font-size: 20px;
        border: 1px solid #383838;
        border-radius: 50%;
        margin: 10px;
        margin-left: 0;
        line-height: 80px;
        text-transform: uppercase;
        color: #383838;
        cursor: pointer;
        
    }
    
    .size-radio-btn.check{
        background: #383838;
        color: #fff;
    }
    
    .cart-btn{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        background: none;
        border: 1px solid #383838;
        color: #383838;
        font-size: 20px;
        cursor: pointer;
        margin: 20px 0;
        text-transform: capitalize;
    }
    
    
    .detail-des{
        padding: 0 10vw;
        text-transform: capitalize;
    }
    
    .heading{
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .des{
        color: #383838;
        line-height: 25px;
    }
     
    
       
}