@import 'nav.css';
@import 'footer.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
       
}  





.product-card{
    flex: 0 0 auto;
    width: 400px;
    height: 600px;
    margin-right: 40px;
}

.product-image{
    width: 100%;
    height: 420px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    

    
}

.product-thumb{

    height: 400px;
    object-fit: scale-down;
    
    
}
.product-thumb:hover{
opacity: .7;
}







.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}


.search-results{
    width: 100%;
    padding: 60px 0;
}

.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}

.product-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    height: auto;
    grid-row-gap: 40px;
}