@import 'nav.css';
@import 'footer.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color:cornsilk;
    
}  





.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: 600px;
    margin-right: 40px;
}

.product-image{
    width: 100%;
    height: 420px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    

    
}

.product-thumb{

    height: 400px;
    object-fit: scale-down;
    
    
}
.product-thumb:hover{
opacity: .7;
}


.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
    text-align: center;
}

.product-short-des{
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}


.search-results{
    width: 100%;
    padding: 60px 0;
}

.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}

.product-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    height: auto;
    grid-row-gap: 40px;
}
@media(max-width: 1290px){
    .product-container{
        display: grid;
        grid-template-columns:  1fr 1fr;
        height: auto;
        grid-row-gap: 20px;
    }

}
@media(max-width: 760px){
    .product-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
        width: 100%;
        height: 430px;
        margin-right: 0;
    }
    
    .product-image{
        width: 100%;
        height: 290px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        
    
        
    }
    
    .product-thumb{
    
        height: 270px;
        object-fit: scale-down;
        
        
    }
}

@media(max-width: 550px){
    h1, h2{
        text-align: center;
        margin: 0;
    }
    .product-card{
    
        width: 100%;
        height: 265px;
        margin: 0;
       
    }
    
    .product-image{
        width: 100%;
        height: 180px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 20;
    
        
    }
    
    .product-thumb{
    
        height: 180px;
        object-fit: scale-down;
        
        
    }
    .product-thumb:hover{
    opacity: .7;
    }
    
    
    .product-info{
        width: 100%;
        height: 85px;
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
    
    .product-brand{
        text-transform: uppercase;
        font-size: 20px;

    }
    
    .product-short-des{
        width: 100%;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        opacity: 0.5;
        text-transform: capitalize;
        margin: 0 0;
    }
    
    .price{
        font-weight: 900;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    
    
    .search-results{
        width: 100%;
        padding: 0 0;
    }
    
    .heading{
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 0;
        padding: 0 10vw;
    }
    
    .heading span{
        font-weight: 700;
    }
    
    .product-container{
        display: grid;
        grid-template-columns:  1fr 1fr;
        height: auto;
        grid-row-gap: 10px;
        
    }
    .card-btn{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        width: 90%;
        text-transform: capitalize;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0.7;
    }
    
    .product-card:hover .card-btn{
        opacity: 1;
    }
    
    .card-btn:hover{
        background: #efefef;
    }
}