@import 'nav.css';
@import 'footer.css';
body{
    background-color:cornsilk;
}
.order{
    border: 2px solid pink;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-left: 5px;
}
.order-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.order-text{
    text-align: center;
    margin-bottom: 4px;
    
}


.title{
    text-align: center;
}
.order-info{
    
  text-align: center;
    padding: 10px;
    
    margin-bottom: 20px;

    
    
    
}

.item{
    
    display: flex;
    justify-content: center;
    padding-top: 1%;   
}

.image{
    width: 180px;
}
.product-thumb{
    object-fit: scale-down;
    height: 130px;
    padding: 3%;
}

.description{
    padding-top: 14%;
    padding-bottom: 2%;
}


.size {
    margin-top: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.price{
    padding-top: 2%;
    padding-bottom: 2%;
}

.ship_Yes{
    visibility: hidden;
}


.ship_No{
visibility: hidden;
}

.ship_P{
    visibility: hidden;
}
@media (max-width: 800px){
    .order-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}
@media (max-width: 550px){
    .order-items{
        display: grid;
        grid-template-columns: 1fr;
        
    }
   
}