@import 'nav.css';
@import 'footer.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 25px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
} 

.submit-btn{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea{
    display: block;
    padding: 20px;
    margin: 20 0;
}
/*
.alert-box{
    width: 300px;
    min-height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}
.login{
    margin-top: 20px;
    text-align: center;
}
.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img{
    display: block;
    margin: 10px auto 20px;
    height: 60px;
}

.alert-msg{
    color: #e24c4b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
} */