@import 'nav.css';
body{
    background-color:cornsilk;
}

.item{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.image{
    width: 130px;
    margin-right: 4%;
}
.product-thumb{
    height: 130px;
    
}
.items-text{
    margin-right: 4%;
    min-width: 80px;
    
    
}

.description{
    padding-top:   25%;
    padding-bottom: 2%;
}

.size {
    padding-top: 2%;
    padding-bottom: 2%;
}
.price_per{
    padding-top: 2%;
    padding-bottom: 2%;
}
.price{
    padding-top: 2%;
    padding-bottom: 2%;
}


.qtyBox{
    min-width: 15%;
}
.quantity{
    display: flex;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 15%;
}

.plus-btn, .minus-btn{
    height: 20px;
}
.btn-img{
    height: 15px;
}
.qtyInput{
    width: 35px;
}
.checkout{
    min-height: 30%;
    min-width: 20%;
position: fixed;
top: 30%;
left: 75%;
background-color:  cornsilk;

}
#checkout-btn{
    position: absolute;
    top: 40%;
    left: 0;
     background-color: pink;
     height: 20%;
     width: 100%;
     margin-top: 7%;
     text-align: center;
}
#checkout-btn:hover{
    background-color: antiquewhite;
}
.total-price{
    position: absolute;
    top: 30%;
    left: 75px;
    
}
.total-price-label{
    position: absolute;
    top: 30%;
    left: 0;
}
.totalItems{
    position: absolute;
    top: 20%;
    left: 80px;
    
}
.totalItems-label{
    position: absolute;
    top: 20%;
    left: 0;
}

.deleteBtn:hover{
    background-color: red;
}